---
name: pre-commit

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v6

      - name: pre-commit
        uses: ./.github/actions/pre-commit
